*{
    border: border-box;
    padding: 0px;
    margin: 0px;
}
.container{
    
    /* top: 50px; */
    color: white;
}
/* h1{
    background-color:blue;
    border-radius: 30%;
} */
.name{
    top: 40%;
    color: white;
    position: absolute;
    left: 35%;
    padding: 20px;
    background-color:blue;
    border-radius: 30%;
}
.image-1{
    height: 100vh;
    background-image: url(concert.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;


}
.section-1{
    background-color: rgb(36, 36, 36);
    text-align: center;
}

.image-2{
    height: 400px;
    background-image: url(tupac.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;

    

}

.section-2{
    background-color: rgb(36, 36, 36);
    text-align: center;
}

.image-3{
    height: 400px;
    background-image: url(freestyle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;



}
.image-1 , .image-2 ,.image-3{
    background-attachment: fixed;
}