*{
    padding: 0px;
    margin: 0px;
    border: border-box;
}

html , body {
    display: flex;
    scroll-behavior: smooth;

}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 250px;
    /* text-align: center; */
    gap: 20px;
    border: 1px solid black;
    border-top: none;
    position: sticky;
  top: 0px;
    

}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight:200;
   
   
}
 .header-content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    position: relative;
    left: 10px;
    font-size: 15px;
    
}

hr{
    position: relative;
    right: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.jv-doc{
    position: relative;
    left: 0px;
}
header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}

.doc-content{
    padding: 50px;
    max-width: 1200px; 
}

.doc-content ul{
    display: flex;
    flex-direction:column ;
    gap: 20px;
    

}

.box-content{
    background-color: rgb(209, 209, 209);
    padding:20px ;
    
}

/* .introduction{
    gap: 20px;
    
} */
section{
    margin-bottom: 50px;
    scroll-margin-top:100px ;

}

article{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.doc-content h1{
    font-size: 25px;
}